[user]
	email = 65520926+FedeAbella@users.noreply.github.com
	name = Federico Abella
[core]
	autocrlf = input
[credential "https://dev.azure.com"]
	useHttpPath = true
[init]
	defaultBranch = main
[credential "https://github.com"]
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = !/usr/bin/gh auth git-credential
[rebase]
	autoStash = true
	autosquash = true
[alias]
	lg = log --pretty='%C(yellow)%h%C(auto)%d%Creset %s %C(green)by %an %C(cyan)(%ar)%Creset'
